* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    height: 64px;
    border-radius: 5px;
    background: #FD6E0A;
    color: #FFFFFF;
    font-weight: 700;
    border: 0;
    padding: 18px 35px;

}
section{
    margin-top: 130px;
}

.header {
    background: #FFF8F3;
    background-image: url('./images/header_bg.png'), url('./images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

/* header and navication styles */
nav {
    display: flex;
    justify-content: space-between;
    /* margin: 50px 200px; */
    padding: 50px 200px;

}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-left: 50px;
}

/* banner style */

.banner {
    display: flex;
    align-items: center;
    /* padding: 0 200px; */
    margin: 0 200px;
}

.banner-title {
    font-size: 85px;
    font-weight: 700;
}

.banner-subtitle {
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 20px;
}

.banner-description {
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}

/* main section */
main {
    max-width: 1140px;
    margin: 0 auto;

}

/* about section style */

.about {
    margin-top: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    padding: 130px 150px;
    text-align: center;
}

.Section-title {
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 50px;

}

.section-description {
    color: #757575;
    font-size: 18px;
    text-align: justify;
    margin-bottom: 30px;
}

.about-info-container {
    display: flex;
    justify-content: space-between;
}

.about .info-title {
    font-size: 20px;
    color: #757575;
}

.info-description {
    font-weight: 700;
    font-size: 20px;
    color: #474747;
}

/* what i do styles */

.skills-container {
    display: flex;
    gap: 24px;
}

.skill {
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    padding: 30px;
}

.skill-tittle {
    font-weight: 700;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;

}

.skill-description {
    color: #757575;
}

/* resume style */

.resume-content{
    display: flex;
    gap: 24px;
}
.resume-item{
    margin-top: 30px;
    margin-bottom: 30px;
}

.resume .title{
     font-weight:700;
     font-size: 25px;
     color: #474747;
     margin-bottom: 10px;
}
.resume .sub-title{
    font-weight: 600;
    color: #757575;
    font-size: 20px;
    margin-bottom: 20px;
}
.resume .description{
    color: #757575;
}
.resume-button{
    margin-top: 50px;
    text-align: center;
}

/* contact styles */
.contact{
    display: flex;
    gap: 100px;
    background: #FFF8F3;
    padding: 130px 200px;
}
.contact a {
    list-style: none;
    margin-right: 10px;
}
.contact .Section-title{
    text-align: left;
}
.contact input[type="text"], input[type="email"], textarea{
    margin-bottom: 24px;
    border: 0;
    width: 100%;
    padding: 18px 30px;
}
input{
    height: 64px; 
}
