* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    height: 64px;
    border-radius: 5px;
    background: #FD6E0A;
    color: #FFFFFF;
    font-weight: 700;
    border: 0;
    padding: 18px 35px;

}

/* header and navication styles */
nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-left: 50px;
}

/* banner style */

.banner{
    margin: 0 200px ;
}